section
{
margin: 20px;
float: left;
width: 500px;
}
#yksi
{
  color: white;
  padding: 10px;
  background-color: red;
}
#kaksi
{
  color: white;
  padding: 10px;
  background-color: blue;

}
#kolme
{
  color: white;
  padding: 10px;
  background-color: yellow;
}
#nelja
{
  color: white;
  padding: 10px;
  background-color: green;
}
